<header class="container">
  <h1>Angular Movie App</h1>
</header>
<main class="container mt-5 mb-5">
  <form [formGroup]="movieForm">
    <div class="from-group">
      <label for="movieInput">
        Search movies!
      </label>
      <input
        id="movieInput"
        class="form-control"
        type="text"
        placeholder="Enter movie title"
        formControlName="movie"
        (keyup)="onKeyUp($event)"
      />
    </div>
  </form>
  <router-outlet></router-outlet>
  <div id="movieList" class="row" *ngIf="movieList != undefined">
    <ng-container *ngIf="movieList.Response === 'False'">
      <div class="alert alert-danger">Movie not found!</div>
    </ng-container>

    <ng-container *ngFor="let movie of movieList.Search">
      <div class="col-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ movie.Poster }}"
            alt="Movie image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ movie.Title }}</h5>
            <p class="card-text">{{ movie.Year }}</p>
            <a
              routerLink="movie-details"
              [queryParams]="{ id: movie.imdbID }"
              class="card-text"
              (click)="showDetail()"
              >Show Detail</a
            >
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</main>
<footer class="container">
  <p>&copy; Takahiro Ito</p>
</footer>
